* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f8f9fb;
  color: #111;
}

input {
  font-family: inherit;
}
